<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<!-- 
Kool Store Template
http://www.templatemo.com/preview/templatemo_428_kool_store
-->
    <meta charset="utf-8">
    <title>ShareLink</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
					<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/contactsCSS.css">
					
					<link rel="stylesheet" href="css/style.css">
					<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
					<script src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
					<script src="../static/js/index.js"></script>
    
					<script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>	
	<script src="../static/js/masterPJS.js"></script>

</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    
		<div id="shortModal" class="modal modal-wide fade">
  <div class="modal-dialog" style="margin-left:-300px; margin-top:170px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" 
                aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
	
											<form id="loginform" name="loginform" method="post" action="index">													
													<input type="text" name="destintion_user" id="destintion_user" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="to..."><br/><br/>
										  			<input type="text" name="description" id="description" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="description"><br/><br/>										  
										  			<input type="text" name="url" id="url" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="copy your link here."><br/>
												</form>
	
	  <p></p>
	   <p></p>
		<p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Share!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
	
	
	
	
	
	
	
	
	
    <header class="site-header">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="top-header-left">
                            <a href="Sign_up">Sign Up</a>
                            <a id="login_prompt" href="#" onclick="sing_in_prompt()">Log In</a>
                        </div> <!-- /.top-header-left -->
                    </div> <!-- /.col-md-6 -->
                  
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.top-header -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-8">
                        <div class="logo">
                            <h1><a href="index">Share-Link</a></h1>
                        </div> <!-- /.logo -->
                    </div> <!-- /.col-md-4 -->
					<div class="col-md-8 col-sm-6 col-xs-4" >
					  <div class="main-menu">
						<img src="https://www.imageupload.co.uk/images/2015/04/28/sharelink-iconc0ece.png" width="200" height="200" align="top" style="margin:-50px 0px" />
					  </div>
					 </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-header -->
        <div class="main-nav">
            <div class="container">
                <div class="row" >
                    <div class="col-md-6 col-sm-7">
                        <div class="list-menu">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><a href="Details">Details</a></li>
                                <li><a href="contactUsPage">Contact Us</a></li>
                            </ul>
                        </div> <!-- /.list-menu -->
                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-6 col-sm-5">
                        <div class="notification">
                        </div>
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-nav -->
    </header> <!-- /.site-header -->
	


	<div class="content-section">
	   <div class="container">
	  <div class="content">
    <div class="content_resize">
      <div class="mainbar">
	  <span class="btnAdd">
		<a href="#"><font color="#fff">add contact</font></a></span>
		
		<br>
				
        <div class="ContactArticle">
          
				<div id="ContactMain"> 				
				
				<ul class="listing">
				<li>
				<div class="listinfo">
				
				<img src="../static/images/usericon.jpg" alt="Listing Image" class="listingimage" />
				<h3>contact1</h3>
				</div>
				<div class="listingbtns">
				<span class="listbuttons">
					<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
				<span class="listbuttons">
				<a href="#">Delete</a></span>
				<div class="clear">&nbsp;</div>
				
				
				</li>
				
				<li>
				<div class="listinfo">
				<img src="../static/images/usericon.jpg" alt="Listing Image" class="listingimage" />
				<h3>contact2</h3>
				</div>

				<div class="listingbtns">
				<span class="listbuttons">
					<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
				<span class="listbuttons">
				<a href="#">Delete</a></span>
				<div class="clear">&nbsp;</div>
				</li>
				
				<li>
				<div class="listinfo">
				<img src="../static/images/usericon.jpg" alt="Listing Image" class="listingimage" />
				<h3>contact3</h3>
				</div>

				<div class="listingbtns">
				<span class="listbuttons">
					<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
				<span class="listbuttons">
				<a href="#">Delete</a></span>
				<div class="clear">&nbsp;</div>
				</li>
				
				<li>
				<div class="listinfo">
				<img src="../static/images/usericon.jpg" alt="Listing Image" class="listingimage" />
				<h3>contact4</h3>
				</div>

				<div class="listingbtns">
				<span class="listbuttons">
					<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
				<span class="listbuttons">
				<a href="#">Delete</a></span>
				<div class="clear">&nbsp;</div>
				</li>
				
			<li>
				<div class="listinfo">
				<img src="../static/images/usericon.jpg" alt="Listing Image" class="listingimage" />
				<h3>contact4</h3>
				</div>

				<div class="listingbtns">
				<span class="listbuttons">
					<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
				<span class="listbuttons">
				<a href="#">Delete</a></span>
				<div class="clear">&nbsp;</div>
				</li>
				
				
				<li>
				<div class="listinfo">
				<img src="../static/images/usericon.jpg" alt="Listing Image" class="listingimage" />
				<h3>contact4</h3>
				</div>

				<div class="listingbtns">
				<span class="listbuttons">
					<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
				<span class="listbuttons">
				<a href="#">Delete</a></span>
				<div class="clear">&nbsp;</div>
				</li>
				
				
				<li>
				<div class="listinfo">
				<img src="../static/images/usericon.jpg" alt="Listing Image" class="listingimage" />
				<h3>contact4</h3>
				</div>

				<div class="listingbtns">
				<span class="listbuttons">
					<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
				<span class="listbuttons">
				<a href="#">Delete</a></span>
				<div class="clear">&nbsp;</div>
				</li>
				
				<li>
				<div class="listinfo">
				<img src="../static/images/usericon.jpg" alt="Listing Image" class="listingimage" />
				<h3>contact4</h3>
				</div>

				<div class="listingbtns">
				<span class="listbuttons">
					<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
				<span class="listbuttons">
				<a href="#">Delete</a></span>
				<div class="clear">&nbsp;</div>
				</li>
				
				<li>
				<div class="listinfo">
				<img src="../static/images/usericon.jpg" alt="Listing Image" class="listingimage" />
				<h3>contact4</h3>
				</div>

				<div class="listingbtns">
				<span class="listbuttons">
					<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
				<span class="listbuttons">
				<a href="#">Delete</a></span>
				<div class="clear">&nbsp;</div>
				</li>
				
				<li>
				<div class="listinfo">
				<img src="../static/images/usericon.jpg" alt="Listing Image" class="listingimage" />
				<h3>contact4</h3>
				</div>

				<div class="listingbtns">
				<span class="listbuttons">
					<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
				<span class="listbuttons">
				<a href="#">Delete</a></span>
				<div class="clear">&nbsp;</div>
				</li>
				
			
        </div>
		
		
      </div>
	  <br/>
		<br/>
	</div>
      <div class="sidebar">
        <div class="clr"></div>
        <div class="gadget">
          <h2 class="star"><span>Menu</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="MySavedLinks"><h4>My Saved Links</h4></a><br/></li>
            <li><a href="NewLinks"><h4>New Links</h4></a><br /></li>
            <li><a href="contactsPage"><h4>My Personal Contact</h4></a><br /></li>
            <li><a href="MyGroups"><h4>My Groups</h4></a><br /></li>

          </ul>
        </div>
      </div>
      <div class="clr"></div>
  </div>
  </div>
</div>
	
	
	<div class="site-footer">
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
                        <span>Copyright &copy; 2015 <a href="#">ShareLink</a> | Design: <a href="http://www.templatemo.com">liranHarri</a></span>
                        <p>The site is developed as part of course Software engineering in JCE-Jerusalem College Engineering</p>
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.bottom-footer -->
    </footer> <!-- /.site-footer -->

    
    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/jquery.easing-1.3.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>


</body>
</html>