<!DOCTYPE html>
<html class="no-js">
	<!--<![endif]-->
	<head>
		{% block head %}
		<meta charset="utf-8">
		<title>ShareLink</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../static/css/modal.css">
		<script type="text/javascript" src="../static/js/jquery-1.9.1.min.js"></script> <!-- login box-->
		<script type="text/javascript" charset="utf-8" src="../static/js/jquery.leanModal.min.js"></script> <!-- login box-->
		<link rel="stylesheet" href="../static/css/style.css">
		<script src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
		<script src="../static/js/index.js"></script>
		<script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>	
		{% endblock %}
	</head>
	<body >
		{% block menuup %}
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="top-header-left">
								<a href="/sign_up">Sign Up</a>
								<a id="modaltrigger" href="#loginmodal" class="flatbtn">Log In</a>  <!-- onclick="sing_in_prompt()" -->
							</div>
							<!-- /.top-header-left -->
						</div>
						<!-- /.col-md-6 -->
						<div class="social-icons">
							<a id="logout_prompt" href="/logout" style="float:right" >Log Out</a>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.top-header -->
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-8">
							<div class="logo">
								<h1><a href="/index">Share-Link</a></h1>
							</div>
							<!-- /.logo -->
						</div>
						<!-- /.col-md-4 -->
						<div class="col-md-8 col-sm-6 col-xs-4" >
							<div class="main-menu">
								<img src="https://www.imageupload.co.uk/images/2015/04/28/sharelink-iconc0ece.png" width="200" height="200" align="top" style="margin:-50px 0px" />
							</div>
						</div>
						<!-- /.col-md-8 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.main-header -->
			<div class="main-nav">
				<div class="container">
					<div class="row" >
						<div class="col-md-6 col-sm-7">
							<div class="list-menu">
								<ul>
									<li><a href="/index">Home</a></li>
									<li><a href="/details">Details</a></li>
									<li><a href="/contactuspage">Contact Us</a></li>
								</ul>
							</div>
							<!-- /.list-menu -->
						</div>
						<!-- /.col-md-6 -->
						<div class="col-md-6 col-sm-5">
							<div class="notification">
							</div>
						</div>
						<!-- /.col-md-6 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.main-nav --><br/>
			{%if useremail%}
			<h3><div><p style="text-indent: 5em;">Hello, {{useremail}}.<p></div></h3>
			{% else %}
			<h3><div><p style="text-indent: 5em;">Hello, Guest.<p></div></h3>
			{%endif%}
		</header>
		{% endblock %}
		<!-- /.site-header -->
		<!-- login box -->
		{% block loginbox %}
		<div id="loginmodal" style="display:none;">
			<br>
			<form id="loginform" name="loginform" method="post" action="index">
				<center>login</center>
				<input type="text" name="username" id="login_email" class="txtfield" tabindex="1" style="width:200px; height:35px;" placeholder="Email..">
				<input type="password" name="password" id="login_password" class="txtfield" tabindex="2" style="width:200px; height:35px;" placeholder="Password">
				<div class="center"><input type="submit" name="loginbtn" id="login" class="myButton" value="Log In" tabindex="3" style="float:center; width:200px; height:35px;">
				</div>
			</form>
		</div>
		{% endblock %}
		<!-- end login box -->
		{% block mainsite %}	
		<div class="content-section">
			<div class="container">
				<div class="content">
					<div class="content_resize">
						<div class="mainbar">
							{% endblock %}
						</div>
						{% block leftmenu %}
						<div class="sidebar">
							<div class="clr"></div>
							<div class="gadget">
								<h2 class="star"><span>Menu</span></h2>
								<div class="clr"></div>
								<ul class="ex_menu">
									<li>
										<a href="/mysavedlinks">
											<h4>My Saved Links</h4>
										</a>
										<br/>
									</li>
									<li>
										<a href="/newlinks">
											{% if newurls|length %}
												<h4>New Links  <span style="border-radius: 50%; font-size:13px; padding:5px; border: 2px solid red; background-color:red;color:white; width: 30000px; height: 150px;"> {{newurls|length}} </span></h4>
											{% else %}
												<h4>New Links</h4>
											{% endif %}
										</a>
										<br />
									</li>
									<li>
										<a href="/contactspage">
											<h4>My Personal Contact</h4>
										</a>
										<br />
									</li>
									<li>
										<a href="/mygroups">
											<h4>My Groups</h4>
										</a>
										<br />
									</li>
								</ul>
							</div>
						</div>
						<div class="clr"></div>
					</div>
				</div>
			</div>
		</div>
		{% endblock %}
		{% block sitefooter %}	
		<div class="site-footer">
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<span>Copyright &copy; 2015 <a href="#">ShareLink</a> | Design: <a href="http://www.templatemo.com">ShareLink</a></span>
						<p>The site is developed as part of course Software engineering in JCE-Jerusalem College Engineering</p>
					</div>
					<!-- /.col-md-12 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.bottom-footer -->
		</footer> <!-- /.site-footer -->
		{% endblock %}
		<!-- script for login box -->
		{% block scripttextbox %}	
		<script type="text/javascript">
			$(function(){
			  $('#loginform').submit(function(e){
				return false;
			  });
			  
			  $('#modaltrigger').leanModal({ top: 110, overlay: 0.45, closeButton: ".hidemodal" });
			});
		</script>
		{% endblock %}
		<!-- script for login box -->
	</body>
</html>