<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<!-- 
Kool Store Template
http://www.templatemo.com/preview/templatemo_428_kool_store
-->
    <meta charset="utf-8">
    <title>ShareLink</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
	<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/tableInSaveLinkw.css">
	<link rel="stylesheet" href="css/style.css">
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
		

	<script src="../static/js/masterPJS.js"></script>
	<script src="../static/js/groupsPJS.js"></script>

</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
	<div id="shortModal" class="modal modal-wide fade">
			<div class="modal-dialog" style="margin-left:-300px; margin-top:170px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<form id="loginform" name="loginform" method="post" action="index">													
							<input type="text" name="destintion_user" id="destintion_user" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="group name "><br/><br/>
							<input type="text" name="description" id="description" class="txtfield" tabindex="1" style="width:88%; height:35px;" placeholder="enter member user name">									  
							&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary">add</button>
							adi<br/>liran<br/>
						</form>
						<p></p>
						<p></p>
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">create</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
    
    <header class="site-header">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="top-header-left">
                            <a href="sign_up">Sign Up</a>
								<a id="login_prompt" href="#" >Log In</a>
                        </div> <!-- /.top-header-left -->
                    </div> <!-- /.col-md-6 -->
					<div class="social-icons">
						<a id="logout_prompt" href="#" style="float:right" >Log Out</a>
					</div>
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.top-header -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-8">
                        <div class="logo">
                            <h1><a href="index">Share-Link</a></h1>
                        </div> <!-- /.logo -->
                    </div> <!-- /.col-md-4 -->
					<div class="col-md-8 col-sm-6 col-xs-4" >
					  <div class="main-menu">
						<img src="https://www.imageupload.co.uk/images/2015/04/28/sharelink-iconc0ece.png" width="200" height="200" align="top" style="margin:-50px 0px" />
					  </div>
					 </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-header -->
        <div class="main-nav">
            <div class="container">
                <div class="row" >
                    <div class="col-md-6 col-sm-7">
                        <div class="list-menu">
                            <ul>
                                <li><a href="index">Home</a></li>
                                <li><a href="details">Details</a></li>
                                <li><a href="contactuspage">Contact Us</a></li>
                            </ul>
                        </div> <!-- /.list-menu -->
                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-6 col-sm-5">
                        <div class="notification">
                        </div>
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-nav -->
    </header> <!-- /.site-header -->
	


	<div class="content-section">
	   <div class="container">
	  <div class="content">
    <div class="content_resize">
     
	 <div class="mainbar" style="">
	 <!--<div class="mainbar" style="float:left;">-->
	 <div class="mainbar" style="position:relative; top:45px; float:left; height:360px; width:160px; overflow:auto">
		
		<table border="0" style="height:800px; width:130px; text-align:center; font-size:150%;">
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 1
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 2
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 3
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 4
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 5
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 6
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 7
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 8
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 9
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 10
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 11
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 12
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					<a href="#" onclick="groupsLinkChat()">
					Group 13
					</a>
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
		</table>
		
	 </div>		<!--  ===========GROUP TABLE DIV=============  -->
	 
		
		
	 
	 
		<div class="mainbar" style="float:right; height:410px; width:560px; border-radius:15px; border:2px solid #d4d7dc;">
			
			<div id="innerChatDiv" class="innerChatDiv" style="height:310px; width:550px; position:relative; left:5px; top:5px; overflow: auto">
				
			</div>
		
		
		
			
			<div style="width:559px; height:1px; background-color:#d4d7dc; position:relative; top:15px;">
			</div>
		
			<input type="text" placeholder="Description" size="40" style="position:relative; left:5px; top:19px; height:30px; border-radius:4px;  border-top:2px solid #d4d7dc; border-left:2px solid #d4d7dc;">
		
			<input type="url" placeholder="URL" size="60" style="position:relative; top:30px; left:5px; height:30px; border-width:2px; border-radius:4px; border-top:2px solid #d4d7dc; border-left:2px solid #d4d7dc;">
		
		
				<a href="#" class="myButton" ng-click="launch('create')" style="position:relative; top:30px; left:20px; height:30px; width:70px;">Send</a>

		
		</div>		<!--  ==============CHAT BOX================  -->
	 
	 
	 
	 </div>		<!--  ==============MAIN DIV================  -->

	<a data-toggle="modal" href="#shortModal" class="myButton" ng-click="launch('create')" style="position:relative; top:0px; left:370px; height:30px; width:120px;">create group</a>
      <div class="sidebar">
        <div class="clr"></div>
        <div class="gadget">
          <h2 class="star"><span>Menu</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="mysavedlinks"><h4>My Saved Links</h4></a><br/></li>
            <li><a href="newlinks"><h4>New Links</h4></a><br /></li>
            <li><a href="contactspage"><h4>My Personal Contact</h4></a><br /></li>
            <li><a href="mygroups"><h4>My Groups</h4></a><br /></li>
          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  </div>
</div>
<!--<div style="position:relative; bottom:550px; border:2px solid red;">-->
	
	<input type="textbox" id="search_link" placeholder="search Link..." size="30" style="padding-left:40px; position:relative; left:970px; bottom:590px; height:40px; border-color: #597ccf; border-width:2px;  border-radius:4px;" text="">
	<span class="icon" style="position:relative;"><i class="fa fa-search" style="position:relative; left:710px; bottom:590px;"></i></span>
	
	<div class="site-footer">
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<span>Copyright &copy; 2015 <a href="#">ShareLink</a> | Design: <a href="http://www.templatemo.com">ShareLink</a></span>
						<p>The site is developed as part of course Software engineering in JCE-Jerusalem College Engineering</p>
					</div>
					<!-- /.col-md-12 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.bottom-footer -->
		</footer> <!-- /.site-footer -->

</body>
</html>