<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<!-- 
Kool Store Template
http://www.templatemo.com/preview/templatemo_428_kool_store
-->
    <meta charset="utf-8">
    <title>ShareLink</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">


	<script src="../static/js/masterPJS.js"></script>

</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    
    <header class="site-header">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="top-header-left">
                            <a href="Sign_up.html">Sign Up</a>
                            <a id="login_prompt" href="#" onclick="sing_in_prompt()">Log In</a>
                        </div> <!-- /.top-header-left -->
                    </div> <!-- /.col-md-6 -->
                  
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.top-header -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-8">
                        <div class="logo">
                            <h1><a href="#">Share-Link</a></h1>
                        </div> <!-- /.logo -->
                    </div> <!-- /.col-md-4 -->
					<div class="col-md-8 col-sm-6 col-xs-4" >
					  <div class="main-menu">
						<img src="https://www.imageupload.co.uk/images/2015/04/28/sharelink-iconc0ece.png" width="200" height="200" align="top" style="margin:-50px 0px" />
					  </div>
					 </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-header -->
        <div class="main-nav">
            <div class="container">
                <div class="row" >
                    <div class="col-md-6 col-sm-7">
                        <div class="list-menu">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="Details.html">Details</a></li>
                                <li><a href="contactUsPage.html">Contact Us</a></li>
                            </ul>
                        </div> <!-- /.list-menu -->
                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-6 col-sm-5">
                        <div class="notification">
                        </div>
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-nav -->
    </header> <!-- /.site-header -->
	


	<div class="content-section">
	   <div class="container">
	  <div class="content">
    <div class="content_resize">
     
	 <div class="mainbar" style="">
	 <!--<div class="mainbar" style="float:left;">-->
	 <div class="mainbar" style="float:left; height:410px; width:160px; overflow:auto">
		
		<table border="0" style="height:800px; width:130px; text-align:center; font-size:150%;">
			<tr>
				<td>
					Group 1
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 2
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 3
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 4
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 5
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 6
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 7
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 8
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 9
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 10
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 11
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 12
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
			
			<tr>
				<td>
					Group 13
				<td>
				
				<td>
					&#x02758
				</td>
				
				<td style="color:#B20000;">
					&#x2715
				</td>
			</tr>
		</table>
		
	 </div>		<!--  ===========GROUP TABLE DIV=============  -->
	 
		
		
	 
	 
		<div class="mainbar" style="float:right; height:410px; width:560px; border-radius:15px; border:1px solid #d4d7dc;">
			
			<div class="innerChatDiv" style="height:310px; width:550px; position:relative; left:5px; top:5px; overflow: auto">
				<table border="0" style="height:600px">
					<tr>
						<td>
							<b>Bilbo_Baggins:</b>
							<br>
							<b>
							&nbsp &nbsp A Map Of Mordor
							</b>
							<p style="margin-left:14px; width:500px; word-wrap: break-word;">
							<a href="http://lotrproject.com/map/#zoom=3&lat=-1545&lon=1428&layers=BTTTTTTTT">http://lotrproject.com/map/#zoom=3&lat=-1545&lon=1428&layers=BTTTTTTTT</a>
							</p>
						</td>
					</tr>
					
					<tr>
						<td>
							<b>Gandalf1271:</b>
							<br>
							<b>
							&nbsp &nbsp Information About The ONE
							</b>
							<p style="margin-left:14px; width:500px; word-wrap: break-word;">
							<a href="http://lotr.wikia.com/wiki/One_Ring">http://lotr.wikia.com/wiki/One_Ring</a>
							</p>
						</td>
					</tr>
					
					<tr>
						<td>
							<b>Bilbo_Baggins:</b>
							<br>
							<b>
							&nbsp &nbsp Most Funny Memes Of Sauron
							</b>
							<p style="margin-left:14px; width:500px; word-wrap: break-word;">
							<a href="http://www.memecenter.com/search/sauron">http://www.memecenter.com/search/sauron</a>
							</p>
						</td>
					</tr>
					
					
					<tr>
						<td>
							<b>Gollum_Gollum:</b>
							<br>
							<b>
							&nbsp &nbsp Bagginses Here Are Some Hard Riddles Gollum Gollum
							</b>
							<p style="margin-left:14px; width:500px; word-wrap: break-word;">
							<a href="http://www.quora.com/What-are-some-difficult-riddles-that-have-an-answer-so-obvious-that-it-will-make-a-person-slap-their-head">http://www.quora.com/What-are-some-difficult-riddles-that-have-an-answer-so-obvious-that-it-will-make-a-person-slap-their-head</a>
							</p>
						</td>
					</tr>
					
					
					
					<tr>
						<td>
							<b>IAmFrodoB:</b>
							<br>
							<b>
							&nbsp &nbsp People Love Me 2!!!
							</b>
							<p style="margin-left:14px; width:500px; word-wrap: break-word;">
							<a href="http://giphy.com/search/frodo/2">http://giphy.com/search/frodo/2</a>
							</p>
						</td>
					</tr>
					
					
					
					<tr>
						<td>
							<b>SamGam80</b>
							<br>
							<b>
							&nbsp &nbsp Check This Cocking Site
							</b>
							<p style="margin-left:14px; width:500px; word-wrap: break-word;">
							<a href="https://wiki-cook.appspot.com/">https://wiki-cook.appspot.com/</a>
							</p>
						</td>
					</tr>
					
					
					
					<tr>
						<td>
							<b>IAmFrodoB:</b>
							<br>
							<b>
							&nbsp &nbsp People Love Me
							</b>
							<p style="margin-left:14px; width:500px; word-wrap: break-word;">
							<a href="http://www.frodoforever.com/">http://www.frodoforever.com/</a>
							</p>
						</td>
					</tr>
					
					
					
				</table>
			</div>
		
		
		
			
			<div style="width:559px; height:1px; background-color:#d4d7dc; position:relative; top:15px;">
			</div>
		
			<input type="text" value="Description" size="40" style="position:relative; top:14px; height:30px;">
		
			<input type="url" value="URL" size="60" style="position:relative; top:25px; height:30px;">
		
			<button type="button" style="position:relative; top:25px; left:20px; height:30px; width:70px; border:0px; color:white; background-color:#2a80b9;">SEND</button>
		
		
		</div>		<!--  ==============CHAT BOX================  -->
	 
	 
	 
	 </div>		<!--  ==============MAIN DIV================  -->
	 
	 
      <div class="sidebar">
        <div class="clr"></div>
        <div class="gadget">
          <h2 class="star"><span>Menu</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="MySavedLinks.html"><h4>My Saved Links</h4></a><br/></li>
            <li><a href="NewLinks.html"><h4>New Links</h4></a><br /></li>
            <li><a href="contactsPage.html"><h4>My Personal Contact</h4></a><br /></li>
            <li><a href="MyGroup.html"><h4>My Groups</h4></a><br /></li>

          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  </div>
</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
	<div class="site-footer">
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
                        <span>Copyright &copy; 2015 <a href="#">ShareLink</a> | Design: <a href="http://www.templatemo.com">liranHarri</a></span>
                        <p>The site is developed as part of course Software engineering in JCE-Jerusalem College Engineering</p>
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.bottom-footer -->
    </footer> <!-- /.site-footer -->

    
    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/jquery.easing-1.3.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>


</body>
</html>