<!DOCTYPE html> 
<html class="no-js">
	<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>ShareLink</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
		<link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'>
		<link rel="stylesheet" type="text/css" href="../static/css/tableInSaveLinkw.css">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="../static/css/tableInNewLinks.css">
		<link rel="stylesheet" href="css/style.css">
		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		<script src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
		<script src="../static/js/index.js"></script>
		<script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>	
		<script src="../static/js/masterPJS.js"></script>
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		<div id="shortModal" class="modal modal-wide fade">
			<div class="modal-dialog" style="margin-left:-300px; margin-top:170px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<form id="loginform" name="loginform" method="post" action="index">													
							<input type="text" name="destintion_user" id="destintion_user" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="to..."><br/><br/>
							<input type="text" name="description" id="description" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="description"><br/><br/>										  
							<input type="text" name="url" id="url" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="copy your link here."><br/>
						</form>
						<p></p>
						<p></p>
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Share!</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		<header class="site-header">
			<div class="top-header">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6">
							<div class="top-header-left">
								<a href="sign_up">Sign Up</a>
								<a id="login_prompt" href="#" >Log In</a>
							</div>
							<!-- /.top-header-left -->
						</div>
						<!-- /.col-md-6 -->
						<div class="social-icons">
							<a id="logout_prompt" href="#" style="float:right" >Log Out</a>
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.top-header -->
			<div class="main-header">
				<div class="container">
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-8">
							<div class="logo">
								<h1><a href="index">Share-Link</a></h1>
							</div>
							<!-- /.logo -->
						</div>
						<!-- /.col-md-4 -->
						<div class="col-md-8 col-sm-6 col-xs-4" >
							<div class="main-menu">
								<img src="https://www.imageupload.co.uk/images/2015/04/28/sharelink-iconc0ece.png" width="200" height="200" align="top" style="margin:-50px 0px" />
							</div>
						</div>
						<!-- /.col-md-8 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.main-header -->
			<div class="main-nav">
				<div class="container">
					<div class="row" >
						<div class="col-md-6 col-sm-7">
							<div class="list-menu">
								<ul>
									<li><a href="index">Home</a></li>
									<li><a href="details">Details</a></li>
									<li><a href="contactuspage">Contact Us</a></li>
								</ul>
							</div>
							<!-- /.list-menu -->
						</div>
						<!-- /.col-md-6 -->
						<div class="col-md-6 col-sm-5">
							<div class="notification">
							</div>
						</div>
						<!-- /.col-md-6 -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- /.main-nav -->
		</header>
		<!-- /.site-header -->
		<div class="content-section">
			<div class="container">
				<div class="content">
					<div class="content_resize">
						<div class="mainbar">
							<div class="box">
								<div class="container-1">
									<span class="icon"><i class="fa fa-search"></i></span>
									<input type="search" id="search" placeholder="Search..." />
								</div>
							</div>
							<br/><br/><br/>
							<div class="mainbar" style="position:relative; right:30px; overflow:auto; height:500px;">
								<!-- ==========SCROLL DIV========= -->
								<table style="position:relative; left:50px; width:140%;">
									<thead>
										<tr>
											<th>Description</th>
											<th>Link</th>
											<th/>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Top 10 CSS Table Design</td>
											<td><a href="http://codepen.io/anon/pen/bdVyMa" target="_blank">http://codepen.io/anon/pen/bdVyMa</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td></td>
											<td>
												<a href="http://www.w3.org/Style/Examples/007/evenodd" 
													target="_blank">
													http://www.w3.org/Style/Examples/007/evenodd
											</td>
											<td>
											<div class="listingbtns">
											<span class="listbuttons">
											<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
											<span class="listbuttons">
											<a href="#">Delete</a></span>
											</div>
											</td>
										</tr>
										<tr>
											<td>stackoverflow</td>
											<td><a href="http://stackoverflow.com/questions/19/what-is-the-fastest-way-to-get-the-value-of-%CF%80" target="_blank">http://stackoverflow.com/questions/19/what-is-the-fastest-way-to-get-the-value-of-%CF%80</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td>in this link have a lot of Examples</td>
											<td><a href="http://www.w3schools.com" target="_blank">http://www.w3schools.com</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td>create button</td>
											<td><a href="http://css3buttongenerator.com/" target="_blank">http://css3buttongenerator.com/</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td>create button</td>
											<td><a href="http://css3buttongenerator.com/" target="_blank">http://css3buttongenerator.com/</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td>create button</td>
											<td><a href="http://css3buttongenerator.com/" target="_blank">http://css3buttongenerator.com/</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td>create button</td>
											<td><a href="http://css3buttongenerator.com/" target="_blank">http://css3buttongenerator.com/</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- ============END SCROLL DIV============== -->
						</div>
						<div class="sidebar">
							<div class="clr"></div>
							<div class="gadget">
								<h2 class="star"><span>Menu</span></h2>
								<div class="clr"></div>
								<ul class="ex_menu">
									<li>
										<a href="mysavedlinks">
											<h4>My Saved Links</h4>
										</a>
										<br/>
									</li>
									<li>
										<a href="newlinks">
											<h4>New Links</h4>
										</a>
										<br />
									</li>
									<li>
										<a href="contactspage">
											<h4>My Personal Contact</h4>
										</a>
										<br />
									</li>
									<li>
										<a href="mygroups">
											<h4>My Groups</h4>
										</a>
										<br />
									</li>
								</ul>
							</div>
						</div>
						<div class="clr"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="site-footer">
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<span>Copyright &copy; 2015 <a href="#">ShareLink</a> | Design: <a href="http://www.templatemo.com">ShareLink</a></span>
						<p>The site is developed as part of course Software engineering in JCE-Jerusalem College Engineering</p>
					</div>
					<!-- /.col-md-12 -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.bottom-footer -->
		</footer> <!-- /.site-footer -->
		
	</body>
</html>