{% extends "masterpage.html" %}
<!DOCTYPE html> 
<html class="no-js">
	<!--<![endif]-->
	<head>
		{% block head %}
		{{ block.super }}
		<script src="../static/js/tabeljs.js"></script>
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/tableInSaveLinkw.css">
		<link rel="stylesheet" type="text/css" href="../static/css/tableInNewLinks.css">
		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		{% endblock %}
	</head>
	<body>
	{% block menuup %}
		<div id="shortModal" class="modal modal-wide fade" >
			<div class="modal-dialog" style="margin-left:250px; margin-top:170px; width:70%;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<form id="loginform" name="loginform" method="post" action="index">													
							<input type="text" name="destintion_user" id="usertoshare" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="to...">
							<input type="text" name="description" id="descriptionshare" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="description">									  
							<input type="text" name="url" id="urlshare" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="copy your link here.">
						</form>
						<p></p>
						<p></p>
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="buttonsharelinktouser" type="button" class="btn btn-primary" onClick="share()">Share!</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<div id="shortModaladdmylist" class="modal modal-wide fade" >
			<div class="modal-dialog" style="margin-left:250px; margin-top:170px; width:70%;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<form id="loginform" name="loginform" method="post" action="index">													
							<input type="text" name="description" id="descriptionadd" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="description">									  
							<input type="url" name="url" id="urladd" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="copy your link here.">
						</form>
						<p></p>
						<p></p>
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button id="addButtonList" type="button" class="btn btn-primary" onClick="addLink()">Add!</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		{{ block.super }}
		{% endblock %}
		<!-- /.site-header -->
				{% block mainsite %}	
				<!--<span id='useremail'>{{useremail}}</span><br/>-->
				{{ block.super }}
							<a data-toggle="modal" href="#shortModaladdmylist" class="myButton" ng-click="launch('create')" style="position:relative; top:0px; left:-28px; height:30px; width:130px;">Add new Link!</a>
							<!--<div class="box" style="margin-top:-48px; border-bottom: 2cm;">
								<div class="container-1">
									<span class="icon"><i class="fa fa-search"></i></span>
									<input type="search" id="search" placeholder="Search..." />
								</div>
							</div>-->
							<br/><br/>
							<div class="mainbar" style="position:relative; right:30px; overflow:auto; height:700px;">
								<!-- ==========SCROLL DIV========= -->
								<table style="position:relative; left:50px; width:140%;">
									<thead>
										<tr>
											<th>Description</th>
											<th>Link</th>
											<th/>
										</tr>
									</thead>
									<tbody>
									<!--<script> writeTheValueInTabelMySavedLinks();</script>  {{forloop.counter0}}-->
									{% for i in urls %}
										<tr><td>{{i.1}}</td>
										<td><a href="{{i.0}}" target="blank">{{i.0}}</a></td>
										<td><div class="listingbtns"><span class="listbuttons">
										<a data-toggle="modal" href="#shortModal" onClick="setintheshortmodel('{{i.0}}','{{i.1}}')">ShareLink</a></span>
										<span class="listbuttons">
										<a id="deleteindex{{forloop.counter0}}" href="#" onClick="deletelink('{{i.0}}','{{i.1}}','None')">Delete</a></span></div></td></tr>
									{% endfor%}
									</tbody>
								</table>
							</div>
							<!-- ============END SCROLL DIV============== -->
						{% endblock %}
						{% block leftmenu %}
		{{ block.super }}
		{% endblock %}
		{% block sitefooter %}
		{{ block.super }}
		{% endblock %}
		{% block scripttextbox %}	
		{{ block.super }}
		{% endblock %}
	</body>
</html>