<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
<!-- 
Kool Store Template
http://www.templatemo.com/preview/templatemo_428_kool_store
-->
    <meta charset="utf-8">
    <title>ShareLink</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/tableInSaveLinkw.css">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/tableInNewLinks.css">

	<script src="js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>
    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    
    <header class="site-header">
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="top-header-left">
                            <a href="#">Sign Up</a>
                            <a href="#">Log In</a>
                        </div> <!-- /.top-header-left -->
                    </div> <!-- /.col-md-6 -->
                  
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.top-header -->
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-8">
                        <div class="logo">
                            <h1><a href="#">Share-Link</a></h1>
                        </div> <!-- /.logo -->
                    </div> <!-- /.col-md-4 -->
					<div class="col-md-8 col-sm-6 col-xs-4" >
					  <div class="main-menu">
						<img src="https://www.imageupload.co.uk/images/2015/04/28/sharelink-iconc0ece.png" width="200" height="200" align="top" style="margin:-50px 0px" />
					  </div>
					 </div> <!-- /.col-md-8 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-header -->
        <div class="main-nav">
		
            <div class="container">
                <div class="row" >
                    <div class="col-md-6 col-sm-7">
                        <div class="list-menu">
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Details</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div> <!-- /.list-menu -->
                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-6 col-sm-5">
                        <div class="notification">
                        </div>
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.main-nav -->
    </header> <!-- /.site-header -->
	


	<div class="content-section">
	   <div class="container">
	  <div class="content">
    <div class="content_resize">
		<div class="mainbar">
		
	<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Link</th>
	  <th/>
	  </tr>
  </thead>
  <tbody>
    <tr>
      <td>Top 10 CSS Table Design</td>
      <td><a href="http://codepen.io/anon/pen/bdVyMa" target="_blank">http://codepen.io/anon/pen/bdVyMa</a></td>
	  <td>
			<div class="listingbtns">
				<span class="listbuttons">
					<a href="#">SendLink</a></span>
				<span class="listbuttons">
					<a href="#">Delete</a></span>
			</div>
		</td>
    </tr>
    <tr>
      <td></td>
      <td><a href="http://www.w3.org/Style/Examples/007/evenodd" 
	  target="_blank">http://www.w3.org/Style/Examples/007/evenodd</td>
	  <td>
			<div class="listingbtns">
				<span class="listbuttons">
					<a href="#">ShareLink</a></span>
				<span class="listbuttons">
					<a href="#">Delete</a></span>
			</div>
		</td>
    </tr>
    <tr>
      <td>stackoverflow</td>
      <td><a href="http://stackoverflow.com/questions/19/what-is-the-fastest-way-to-get-the-value-of-%CF%80" target="_blank">http://stackoverflow.com/questions/19/what-is-the-fastest-way-to-get-the-value-of-%CF%80</a></td>
      <td>
			<div class="listingbtns">
				<span class="listbuttons">
					<a href="#">ShareLink</a></span>
				<span class="listbuttons">
					<a href="#">Delete</a></span>
			</div>
		</td>
	</tr>
    <tr>
      <td>in this link have a lot of Examples</td>
      <td><a href="http://www.w3schools.com" target="_blank">http://www.w3schools.com</a></td>
	  <td>
			<div class="listingbtns">
				<span class="listbuttons">
					<a href="#">ShareLink</a></span>
				<span class="listbuttons">
					<a href="#">Delete</a></span>
			</div>
		</td>
	</tr>	
	<tr>
      <td>create button</td>
      <td><a href="http://css3buttongenerator.com/" target="_blank">http://css3buttongenerator.com/</a></td>
	  <td>
			<div class="listingbtns">
				<span class="listbuttons">
					<a href="#">ShareLink</a></span>
				<span class="listbuttons">
					<a href="#">Delete</a></span>
			</div>
		</td>
	</tr>	
  </tbody>
</table>
</div>
      <div class="sidebar">
        <div class="clr"></div>
        <div class="gadget">
          <h2 class="star"><span>Menu</span></h2>
          <div class="clr"></div>
          <ul class="ex_menu">
            <li><a href="#"><h4>My Saved Links</h4></a><br/></li>
            <li><a href="#"><h4>New Links</h4></a><br /></li>
            <li><a href="#"><h4>My Personal Contact</h4></a><br /></li>
            <li><a href="#"><h4>My Groups</h4></a><br /></li>

          </ul>
        </div>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  </div>
</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
	<div class="site-footer">
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
                        <span>Copyright &copy; 2015 <a href="#">ShareLink</a> | Design: <a href="http://www.templatemo.com">liranHarri</a></span>
                        <p>The site is developed as part of course Software engineering in JCE-Jerusalem College Engineering</p>
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.bottom-footer -->
    </footer> <!-- /.site-footer -->

    
    <script src="js/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="js/jquery.easing-1.3.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>


</body>
</html>