{% extends "masterpage.html" %}
<!DOCTYPE html> 
<html class="no-js">
	<!--<![endif]-->
	<head>
		{% block head %}
		{{ block.super }}
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../static/css/tableInSaveLinkw.css">
		<link rel="stylesheet" type="text/css" href="../static/css/tableInNewLinks.css">
		<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
		{% endblock %}
	</head>
	<body>
	{% block menuup %}
		<div id="shortModal" class="modal modal-wide fade">
			<div class="modal-dialog" style="margin-left:300px; margin-top:170px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" 
							aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<form id="loginform" name="loginform" method="post" action="index">													
							<input type="text" name="destintion_user" id="destintion_user" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="to..."><br/><br/>
							<input type="text" name="description" id="description" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="description"><br/><br/>										  
							<input type="text" name="url" id="url" class="txtfield" tabindex="1" style="width:100%; height:35px;" placeholder="copy your link here."><br/>
						</form>
						<p></p>
						<p></p>
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Share!</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
		{{ block.super }}
		{% endblock %}
		<!-- /.site-header -->
				{% block mainsite %}	
				{{ block.super }}
							<div class="box">
								<div class="container-1">
									<span class="icon"><i class="fa fa-search"></i></span>
									<input type="search" id="search" placeholder="Search..." />
								</div>
							</div>
							<br/><br/><br/>
							<div class="mainbar" style="position:relative; right:30px; overflow:auto; height:500px;">
								<!-- ==========SCROLL DIV========= -->
								<table style="position:relative; left:50px; width:140%;">
									<thead>
										<tr>
											<th>Description</th>
											<th>Link</th>
											<th/>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Top 10 CSS Table Design</td>
											<td><a href="http://codepen.io/anon/pen/bdVyMa" target="_blank">http://codepen.io/anon/pen/bdVyMa</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td></td>
											<td>
												<a href="http://www.w3.org/Style/Examples/007/evenodd" 
													target="_blank">
													http://www.w3.org/Style/Examples/007/evenodd
											</td>
											<td>
											<div class="listingbtns">
											<span class="listbuttons">
											<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
											<span class="listbuttons">
											<a href="#">Delete</a></span>
											</div>
											</td>
										</tr>
										<tr>
											<td>stackoverflow</td>
											<td><a href="http://stackoverflow.com/questions/19/what-is-the-fastest-way-to-get-the-value-of-%CF%80" target="_blank">http://stackoverflow.com/questions/19/what-is-the-fastest-way-to-get-the-value-of-%CF%80</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td>in this link have a lot of Examples</td>
											<td><a href="http://www.w3schools.com" target="_blank">http://www.w3schools.com</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td>create button</td>
											<td><a href="http://css3buttongenerator.com/" target="_blank">http://css3buttongenerator.com/</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td>create button</td>
											<td><a href="http://css3buttongenerator.com/" target="_blank">http://css3buttongenerator.com/</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td>create button</td>
											<td><a href="http://css3buttongenerator.com/" target="_blank">http://css3buttongenerator.com/</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
										<tr>
											<td>create button</td>
											<td><a href="http://css3buttongenerator.com/" target="_blank">http://css3buttongenerator.com/</a></td>
											<td>
												<div class="listingbtns">
													<span class="listbuttons">
													<a data-toggle="modal" href="#shortModal">ShareLink</a></span>
													<span class="listbuttons">
													<a href="#">Delete</a></span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- ============END SCROLL DIV============== -->
						{% endblock %}
						{% block leftmenu %}
		{{ block.super }}
		{% endblock %}
		{% block sitefooter %}
		{{ block.super }}
		{% endblock %}
		{% block scripttextbox %}	
		{{ block.super }}
		{% endblock %}
	</body>
</html>