{% extends "masterpage.html" %}
<!DOCTYPE html>
<html class="no-js">
	<!--<![endif]-->
	<head>
	{% block head %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="../static/css/tableInNewLinks.css">
	<script src="../static/js/tabeljs.js"></script>
	{% endblock %}
	</head>
	<body>
		{% block menuup %}
		{{ block.super }}
		{% endblock %}
		<!-- /.site-header -->
		{% block mainsite %}
		{{ block.super }}
							<div class="mainbar" style="position:relative; left:10px; width:107%; right:30px; overflow:auto; height:500px;">
								<!-- ==========SCROLL DIV========= -->
								<table style="position:relative; left:50px; width:140%;">
									<thead>
										<tr>
											<th>From</th>
											<th>Description</th>
											<th>Link</th>
											<th/>
										</tr>
									</thead>
									<tbody>
										<script> writeTheValueInTabel();
										</script>
									</tbody>
								</table>
							</div>
		{% endblock %}
		{% block leftmenu %}
		{{ block.super }}
		{% endblock %}
		{% block sitefooter %}
		{{ block.super }}
		{% endblock %}	
		{% block scripttextbox %}	
		{{ block.super }}
		{% endblock %}
		
	</body>
</html>