{% extends "masterpage.html" %}
<!DOCTYPE html>
<!--[if gt IE 8]><!--> 
<html class="no-js">
	<!--<![endif]-->
	<head>
		{% block head %}
		{{ block.super }}
		{% endblock %}
	</head>
	<body>
		{% block menuup %}
		{{ block.super }}
		{% endblock %}	
		<!-- /.site-header -->
				{% block mainsite %}	
		{{ block.super }}
							<h3>Sign Up</h3>
							<h4>It’s free and always will be.</h4>
							<table border="0" style="width:400px; height:200px; font-size:120%;">
								
								<!-- =============PASSWORD=================== -->
								<tr>
									<td>
										Password:
									</td>
									<td>
										<input type="password" name="password" size="25">
									</td>
								</tr>
								<!-- =============EMAIL=================== -->
								<tr>
									<td>
										Email:
									</td>
									<td>
										<input type="email" name="email" size="25">
									</td>
								</tr>

								<tr>
									<td colspan="2">
										<button type="button" style="border:0px; color:white; background-color:#2a80b9; margin-left:130px; margin-top:10px; padding:5px 10px; border-radius:5px;">Sign Up</button>
									</td>
								</tr>
							</table>
		{% endblock %}
		{% block leftmenu %}
		{{ block.super }}
		{% endblock %}
		{% block sitefooter %}
		{{ block.super }}
		{% endblock %}
	</body>
</html>