* { padding:0; margin:0; 
}

.clear {
	clear:both;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	font-size: 0px;
	height: 0px;
}

.ContactArticle {
	float: left;
	width: 100%;
	height:700px;
	 overflow: auto;
}


.listing {
}
.listing li {
	display: block;
	padding: 10px;
	margin-bottom: 8px;
	border: 1px solid #eee;
	height: 76px;
}
.listing .listinfo {
	width: 385px;
	height: 18px;
	float: left;
}
.listinfo .listingimage {
	float: left;
	border: 5px solid #a5a192;
	margin-right: 15px;
}
.listingbtns {
	float: right;
	width: 125px;
	padding-bottom: 10px;
}

.btnAdd {
	float: center;
	color: #F3F0DF;
	background: url(../images/listingbuttons.jpg) no-repeat;
	background-size: 100% auto;
	display: block;
	height: 35px;
	width: 200px;
	text-align: center;
line-height: 33px;
	font-size: 150%;	
}


.listinfo h3 {
	color: #6897BB;
	font: bold 14px "Trebuchet MS", Arial, sans-serif;
	margin-bottom: 50px;
}
.listingbtns .listbuttons {
	background: url(../images/listingbuttons.jpg) no-repeat;
	display: block;
	height: 27px;
	width: 121px;
	text-align: center;
	margin-bottom: 5px;
	padding-bottom: 10px;
}
.listingbtns .listbuttons a {
	color: #fff;
	text-decoration: none;
}

.price {
	display: block;
	font-weight: bold;
	color: #fff;
}
.listingbtns .listbuttons a:visited, .listingbtns .listbuttons a:active, .listingbtns .listbuttons a:hover {
	color: #fff;
	text-decoration: none;
}
.block {
	padding: 5px;
}

.normalmenu li {
	display: block;
	height: 32px;
	font: bold 16px "Trebuchet MS", Verdana, Arial, sans-serif;
	background: url(../images/sidebar_menu_div.jpg) repeat-x left bottom;
}
.normalmenu a {
	display: block;
	height: 25px;
	padding-top: 5px;
	background: url(../images/bulletarrow.jpg) no-repeat 5px 12px;
	padding-left: 35px;
	color: #958E82;
	text-decoration: none;
}
#topbar li {
	display: inline;
}
#topbar ul {
	display: block;
	padding-left: 450px;
	padding-top: 5px;
	padding-right: 10px;
}
#topbar a {
	color: #E3F6FC;
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	height: 27px;
}
#topbar a:visited, #topbar a:active {
	color: #E3F6FC;
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	height: 27px;
}
#topbar a:hover {
	color: #E3F6FC;
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	height: 27px;
	background: url(../images/activetopmenu.jpg) no-repeat center bottom;
}
#topbar .current a, #topbar .current a:visited, #topbar .current a:active {
	color: #E3F6FC;
	display: block;
	float: left;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: 3px;
	margin-left: 3px;
	text-decoration: none;
	height: 27px;
	background: url(../images/activetopmenu.jpg) no-repeat center bottom;
}
.normalmenu a:visited, .normalmenu a:active {
	display: block;
	height: 25px;
	padding-top: 5px;
	background: url(../images/bulletarrow.jpg) no-repeat 5px 12px;
	padding-left: 35px;
	color: #958E82;
	text-decoration: none;
}
.normalmenu a:hover {
	display: block;
	height: 25px;
	padding-top: 5px;
	background: url(../images/bulletarrow.jpg) no-repeat 5px 12px;
	padding-left: 35px;
	color: #404040;
	text-decoration: none;
}
.hot .imageholder {
	display: block;
	height: 66px;
	width: 66px;
	border: 5px solid #C6BBAA;
	float: left;
}
#wrap #content #home_sidebar .hot h3 {
	margin-left: 86px;
	display: block;
	color: #009933;
}
.hot .description {
	display: block;
	margin-left: 86px;
	padding-top: 12px;
	padding-right: 8px;
}
.hot .description .price {
	padding-top: 5px;
}

.hot li {
	display: block;
	padding-top: 3px;
	padding-bottom: 5px;
	background: url(../images/hotdiv.jpg) repeat-x center bottom;
	margin-right: 8px;
	margin-left: 8px;
}
#wrap #footer {
	background: url(../images/footer.jpg) no-repeat;
	height: 132px;
	margin-bottom: 50px;
}
#search .tab h2 {
	color: #33779B;
}
#topcategorieslink ul {
	display: block;
	float: left;
	padding-top: 11px;
	width: 725px;
}
#topcategorieslink li {
	display: inline;
	font: bold 16px "Trebuchet MS", Verdana, Arial, sans-serif;
}

#footer #upperfooter {
	padding-top: 25px;
	padding-left: 250px;
	padding-right: 200px;
	line-height: 22px;
	height: 70px;
}
#wrap #footer #lowerfooter {
	padding-top: 10px;
	padding-left: 25px;
	padding-right: 25px;
	color: #E3F6FC;
}
.backtotop {
	display: block;
	float: right;
}
#lowerfooter .backtotop {
	color: #E3F4FB;
	text-decoration: none;
}

#topcategorieslink #searchagain {
	float: left;
	width: 715px;
	padding-top: 2px;
}


.smsalert {
	background: #3F3F3F;
	margin-bottom: 5px;
	color: #E8E3CD;
}
.block p {
	line-height: 16px;
	padding: 10px;
}
#paginations li {
	display: inline;
}

#main #paginations {
	background: #404040;
	padding: 5px;
}


#main #single_item_details {
	background: #f8f8f8;
}

#leftcolumn {
	float: left;
	width: 240px;
	padding: 5px;
}
#rightcolumn {
	float: right;
	padding: 5px;
	width: 280px;
}
#rightcolumn .price {
	font: bold 14px "Trebuchet MS", Verdana, Arial, sans-serif;
	color: #FF0000;
	padding-top: 8px;
	padding-bottom: 8px;
}
.previewimg {
	display: block;
	margin: auto auto 15px;
	background: #efefef;
	padding: 5px;
	border: 1px solid #ccc;
}
#single_item_details  h2 {
	color: #006600;
	font: 18px "Trebuchet MS", Verdana, Arial, sans-serif;
	display: block;
	margin-bottom: 15px;
}
#single_item_details .user {
	display: block;
	font: bolder 16px "Trebuchet MS", Verdana, Arial, sans-serif;
	margin-bottom: 8px;
}
#imagesgallerylisting {
	margin-right: 145px;
	padding: 5px;
}
#moredetails h3 {
	font: bold 14px "Trebuchet MS", Verdana, Arial, sans-serif;
	display: block;
	padding: 3px;
}
#moredetails li {
	padding: 3px;
	display: block;
}
#listing_details td {
	padding: 3px;
	vertical-align: top;
}

#moredetails {
	margin-top: 8px;
	background: #E3F0F4;
	padding: 5px;
}
#listing_details {
	padding: 5px;
}
#midraw_details {
	background: #F3F0DF;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.imagegallink {
	background: url(../images/imagegallink.jpg) no-repeat;
	height: 53px;
	width: 240px;
	margin-top: 6px;
	padding-left: 70px;
	padding-top: 10px;
	margin-left: 15px;
}
