/*################################################################################################
#																								 #
#										TABLE													 #
#																								 #
##################################################################################################*/


table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 16px;
	margin-left: -50px;
	line-height: 20px;
	text-align: left;
	width: 800px;
}	

th {
	background: url(http://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(#4f86b0, #39719c);
	border-left: 1px solid #555;
	border-right: 1px solid #777;
	border-top: 1px solid #555;
	border-bottom: 1px solid #333;
	box-shadow: inset 0 1px 0 #999;
	color: #fff;
  font-weight: bold;
	padding: 5px 15px;
	position: relative;
	text-shadow: 0 1px 0 #000;	
	&:first-child { width: 1000px;  }
}

th:after {
	background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
	content: '';
	display: block;
	height: 25%;
	left: 0;
	margin: 1px 0 0 0;
	position: absolute;
	top: 25%;
	width: 100%;
}

th:first-child {
	border-left: 1px solid #777;	
	box-shadow: inset 1px 1px 0 #999;
	
}

th:last-child {
	box-shadow: inset -1px 1px 0 #999;
}

td {
	border-right: 1px solid #fff;
	border-left: 1px solid #e8e8e8;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e8e8e8;
	padding: 10px 15px;
	position: relative;
	transition: all 300ms;
}

td:first-child {
	box-shadow: inset 1px 0 0 #fff;
}	


td:last-child {
	border-right: 1px solid #e8e8e8;
	box-shadow: inset -1px 0 0 #fff;
	width: 100em;
	
		
}	

tr {
	background:#fff	url(http://jackrugile.com/images/misc/noise-diagonal.png);
}

tr:nth-child(odd) td {
	background: #fff url(http://jackrugile.com/images/misc/noise-diagonal.png);	
}


tr:last-of-type td {
	box-shadow: inset 0 -1px 0 #fff; 
}

tr:last-of-type td:first-child {
	box-shadow: inset 1px -1px 0 #fff;
}	

tr:last-of-type td:last-child {
	box-shadow: inset -1px -1px 0 #fff;
}	


.listingbtns {
	float: right;
	width: 125px;
	padding-bottom: 10px;
}

.listingbtns .listbuttons {
	background: url(../images/listingbuttons.jpg) no-repeat;
	display: block;
	height: 27px;
	width: 121px;
	text-align: center;
	margin-bottom: 5px;
	padding-bottom: 10px;
}
.listingbtns .listbuttons a {
	color: #fff;
	text-decoration: none;
}

.listingbtns .listbuttons a {
	color: #fff;
	text-decoration: none;
}

.price {
	display: block;
	font-weight: bold;
	color: #fff;
}
.listingbtns .listbuttons a:visited, .listingbtns .listbuttons a:active, .listingbtns .listbuttons a:hover {
	color: #fff;
	text-decoration: none;
}
